body{
	background-image: url('Marvel-Wallpaper-Pictures-Images.jpg');
	background-position: center;
	font-family: 'Bungee', cursive;
}

header {
	height: 150px;
	border: 3px solid purple;
	width: 80%;
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
	background-color: black;
	color: white;
}

button{
	background-color: grey;
	color: white;
}

.container{
	float: left;
	margin-top: 50px;
}

.underscore {
	border: 3px solid blue;
	font-size: 100px;
	text-align: center;
	margin: 25px auto;
	padding-left: 15px;
	padding-right: 15px;
	background-color: black;
	color: white;
}

.rightGuess {
	border: 3px solid green;
	font-size: 20px;
	text-align: center;
	margin: 25px auto;
	height: 150px;
	width: 80%;
	background-color: black;
	color: white;
}

.wrongGuess {
	border: 3px solid red;
	font-size: 20px;
	text-align: center;
	margin: 25px auto;
	height: 150px;
	width: 80%;
	background-color: black;
	color: white;
}